.bottomLegendBox_l {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: auto;
	padding-bottom: 5px;
	background-color: rgba(103, 57, 27, 0.70);
}

.bottomLegendBox_city {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: auto;
	height: 58px;
	background-color: rgba(103, 57, 27, 0.70);
}

.legendTitle {
	line-height: 30px;
	font-size: 14px;
	font-weight: 800;
	color: #F5e0bd;
	padding: 0 15px;
}

.legend {
	padding: 3px 15px;
	color: #f5e0bd;
}

.legendSelect, .legendSelect>div {
	float: left;
}

.legendColor {
	width: 12px;
	height: 12px;
	background-color: red;
	margin-top: 1px;
	cursor:pointer;
}

.legendSelect {
	cursor: pointer;
}

.legendSelect .legendColor {
	margin-right: 2px;
}

.legendSelect .legendDescribe {
	margin-right: 7px;
	margin-top: -2px;
}

.legendSelect .legendColor.point {
	border-radius: 50%;
	margin-top: 0px;
	width: 15px;
	height: 15px;
}